.header_container {
  text-align: center;
}

.header_title{
  padding-top: 40px;
  font-family: cursive;
  color: rgb(85, 85, 29) ;
  font-size: 45px;
  margin-bottom: 40px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid white;
} 
  
th, td {
  padding: 10px;
  border: 1px solid white;
  text-align: center;
}
  
th {
  background-color: white;
} 

td.ant-table-column-sort{
  background: none;
}
.ant-table-row:hover{
  background-color: #70a370;
}  

.table_component{
  margin-left: 30px;
  margin-right: 30px;
}

.ant-table{
  color:rgb(0 92 26)!important;
  font-weight: 700!important;
  font-size: medium!important;
}

.ant-table-cell{
  font-size: 18px!important;
}

.action:hover{
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-1me4733) p{
  color: rgb(0 92 26)!important ;
  font-weight: 800!important ;
  background-color: #88b3884f;
  padding: 10px;
  border-radius: 5px;
}

.input{
  margin-top: 20px;
  color: rgb(0 92 26) ;
  font-weight: 800;
}

.ant-btn-primary{
  background-color: rgb(85, 85, 29)!important ;
}

.ant-picker{
  width: 473px;
}

.ant-picker-dropdown{
  width: 430px;
}

.ant-picker-date-panel{
  width: 100%!important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-table-wrapper td.ant-table-column-sort {
  background: #b1da96!important;
}
